* {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.nav-bar-logo img {
  max-height: 70px;
  cursor: pointer;
}

.nav-bar-logo h1 {
  color: #79d7be;
  text-decoration: none;
}

.nav-bar-logo a {
  color: #fff;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  min-height: 90px;
  background-color: #333;
}

.nav-bar-menu-list {
  display: flex;
  gap: 40px;
}

.nav-bar-menu-list li {
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.nav-bar-menu-list li a {
  text-decoration: none;
  color: #eee;
  display: inline-block;
  padding: 0.5rem 0.6rem;
  transition: color 0.3s ease;
  letter-spacing: 1px;
}

.nav-bar-menu-list li:hover a {
  color: #79d7be;
}

.btn i {
  color: #fff;
}

.nav-bar-menu-list li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: #79d7be;
  transition: width 0.3s ease;
}

.nav-bar-menu-list li:hover::after {
  width: 100%;
}

.nav-bar-menu-list li a.active {
  color: #79d7be;
  border-bottom: 1.5px solid #79d7be;
}

.nav-bar-menu-list li a.active:hover::after {
  width: 0;
}

.btn {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-bar-menu {
  display: flex;
}

@media (max-width: 900px) {
  .btn {
    display: block;
    z-index: 2;
    color: #333;
  }

  .nav-bar-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background-color: #1b1b1b;
    padding: 5rem 1rem;
    gap: 1rem;
    z-index: 1;
    transition: right 0.3s ease-in-out;
  }

  .nav-bar-menu.display {
    right: 0;
  }

  .nav-bar-menu-list {
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav-bar-menu-list li a {
    color: #fff;
  }

  .nav-bar-menu-list li:hover a {
    color: #aaa;
  }

  .close-btn {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 500px) {
  .nav-bar-logo h1 {
    font-size: 20px;
  }
}

.add-player-btn {
  cursor: pointer;
  background-color: transparent;
  color: #79d7be;
  border: 1.5px solid #79d7be;
  padding: 10px 15px;
  border-radius: 6px;
}

.add-player-btn:hover {
  background-color: #79d7be;
  color: #333;
}
